# ============================================
# Ansible Configuration (local to this project)
# ============================================
# This file saves you from typing flags every time
#
# !!! SETUP REQUIRED !!!
#   Replace <YOUR_GCP_USERNAME> below with your GCP username
#   (run: gcloud config get-value account, take part before @)
#

[defaults]
inventory = inventory.yml
remote_user = nag
private_key_file = ~/.ssh/google_compute_engine
host_key_checking = False
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
