<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">myCalendar</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/}">Welcome</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/events/}">All Events</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/events/my}">My Events</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/events/form}">Create Event</a></li>
                        <li class="nav-item"><a class="nav-link text-warning" target="_blank" th:href="@{/h2-console}">H2 Console</a></li>
                    </ul>
                    <span class="navbar-text text-danger">
                        NO SECURITY APPLIED
                    </span>
                </div>
            </div>
        </nav>
    </div>

    <div class="alert alert-success" th:if="${message != null}">
        <span th:text="${message}"></span>
    </div>
    <div class="alert alert-danger" th:if="${error != null}">
        <span th:text="${error}"></span>
    </div>
</div>
</body>
</html>
